RustHandScraper/target
RustHandScraper/.env


# dependencies
next-server-client/node_modules
next-server-client/.pnp
next-server-client/.pnp.*
next-server-client/.yarn/*
!next-server-client/.yarn/patches
!next-server-client/.yarn/plugins
!next-server-client/.yarn/releases
!next-server-client/.yarn/versions

# testing
next-server-client/coverage

# next.js
next-server-client/.next/
next-server-client/out/

# production
next-server-client/build

# misc
next-server-client/.DS_Store
next-server-client/*.pem

# debug
next-server-client/npm-debug.log*
next-server-client/yarn-debug.log*
next-server-client/yarn-error.log*
next-server-client/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
next-server-client/.env*

# vercel
next-server-client/.vercel

# typescript
next-server-client/*.tsbuildinfo
next-server-client/next-env.d.ts

#db
next-server-client/local.db
next-server-client/.vercel
